
.row {
    display: flex;
    border: 2px solid rgb(34, 182, 59);
    width: 100%;
    justify-content: space-between; /* Para separar las columnas */
    align-items: center; /* Para centrar verticalmente dentro de la fila */
    height: 100px; /* Ajusta la altura según tus necesidades */
}

.column {
    border: 2px solid salmon;
    flex: 1; /* Para que las columnas ocupen el mismo espacio */
    padding: 10px; /* Espacio interno dentro de las columnas */
    text-align: center;
    height: 100%; /* Para que las columnas se ajusten a la altura de la fila */
}
