/* DetalleCreacion.css */

.detalle-creacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.detalle-creacion-img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 8px;
}

.detalle-creacion-content {
    max-width: 600px;
    margin-top: 20px;
}

.detalle-creacion-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

.detalle-creacion-description {
    font-size: 16px;
    color: #666;
    text-align: center;
}

.detalle-creacion-link {
    display: block;
    color: #007bff;
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
}

.detalle-creacion-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #28a745;
    /* Color verde, puedes cambiarlo */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.detalle-creacion-button:hover {
    background-color: #218838;
    /* Color verde oscuro al pasar el mouse, puedes cambiarlo */
}