  .home {
    
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80.5vh; 
      border: solid black;
    }
    .home2 {
      background-color: #000;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 92.5vh; 
      border: solid black;
    }
      .card {
      border: solid rgb(182, 39, 39);
        background-color: black;
        border: 2px solid white;
        border-radius: 20px;
        padding: 20px;
        text-align: center;
        position: relative;
        top: -100px; 
        width: 100%;
        color: white;
        height: 40%;
      }
  

      .card {
        position: relative;
        width: 40%;
        height: 40%;
        background-color: #000;
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding: 12px;
        gap: 12px;
        border-radius: 8px;
        cursor: pointer;
      }
      
      .card::before {
        content: '';
        position: absolute;
        inset: 0;
        left: -5px;
        margin: auto;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
        z-index: -10;
        pointer-events: none;
        transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      }
      
      .card::after {
        content: "";
        z-index: -1;
        position: absolute;
        inset: 0;
        background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
        transform: translate3d(0, 0, 0) scale(0.95);
        filter: blur(20px);
      }
      
      
      .heading {
        font-size: 50px;
        text-transform: capitalize;
        font-weight: 700;
      }
      
      .card p:not(.heading) {
        font-size: 14px;
      }
      
      .card p:last-child {
        color: #e81cff;
        font-weight: 600;
      }
      
      .card:hover::after {
        filter: blur(30px);
      }
      
      .card:hover::before {
        transform: rotate(175deg) scaleX(1.02) scaleY(1);
      }
      
      
      .heading:hover {
        
        scale: 101%;
        
      }