.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80.5vh; 
  border: solid black;
}

.home2 {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70.5vh; 
  border: solid black;
}

.home3 {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70.5vh; 
  border: solid black;
}

.cardTitulo {
  position: relative;
  width: 40%;
  height: 40%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}

.subheading {
  font-size: 18px;
  color: #aaa;
  margin-top: -8px;
}

.cardTitulo::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.cardTitulo::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.heading {
  font-size: 50px;
  text-transform: capitalize;
  font-weight: 700;
}

.cardTitulo:hover::after p:not(.heading) {
  font-size: 14px;
}

.cardTitulo p:last-child {
  color: #e81cff;
  font-weight: 600;
}

.cardTitulo:hover::after {
  filter: blur(30px);
}

.cardTitulo:hover::before {
  transform: rotate(175deg) scaleX(1.02) scaleY(1);
}

.heading:hover {
  scale: 101%;
}

.home2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #000;
  height: 70.5vh;
  border: solid black;
  padding: 20px; /* Aumentamos el espacio alrededor de las tarjetas */
}

/* Estilos para cada tarjeta de creación */
/* Estilos para cada tarjeta de creación */
.home2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #000;
  height: 70.5vh;
  border: solid black;
  padding: 20px; /* Aumentamos el espacio alrededor de las tarjetas */
}

.card {
  padding: 10px;
  margin-left: 100px; /* Ajusta el margen entre las tarjetas */
  width: 300px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 1px 21px 8px rgba(255,255,255,0.36);
  -webkit-box-shadow: 0px 1px 21px 8px rgba(255,255,255,0.36);
  -moz-box-shadow: 0px 1px 21px 8px rgba(255,255,255,0.36);
}

.card img {
  width: 100%;
  height: 200px; /* Ajusta la altura de la imagen según tu diseño */
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.card-content {
  padding: 16px;
}

.card h2 {
  font-size: 20px;
  color: #535353; /* Cambiamos el color del texto */
  margin-bottom: 8px;
  text-align: center; /* Centramos el texto */
}

.card p {
  height: 25px;
  font-size: 14px;
  color: #666;
  margin-bottom: 16px;
}

.card a {
  display: block;
  color: #007bff;
  font-size: 14px;
  text-decoration: none;
  font-weight: 600;
}
