/* Layout.css */

.navbar {
    background: black;
    padding: 10px 0;
    text-align: center;

}

.navbar-list {
    list-style-type: none;
    padding: 0;
    margin: auto;
    display: flex;
    justify-content: center;
}

.navbar-item {
    margin-right: 20px;
}

.navbar-link {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar-link:hover {
    color: greenyellow;
}